<!DOCTYPE html>
<html>
<body>

<h1>Welcome to Tandem Trivia!</h1>

    
<p>
    At Tandem, playing trivia isn't just a fun way to learn something new, but also a great way to take a little break from a normal work task.
    While everyone is knowledgeable in their own right, only one person can be crowned trivia champion with the highest score.
    This application will help you practice and improve your Tandem Trivia skills.
</p>

<p>
    Click on the 'Take Quiz' button to begin the quiz. You will be given 10 Tandem-related questions.
    After each question, you will be shown the correct answer.
    At the end of the quiz, you will be shown your cumulative score.
    Good luck!
</p>

<%= button_to 'Take Quiz', questions_path %>

</body>
</html>
